# TODO: revert to a released version pin (e.g. weaviate-client>=4.x.x) once
# weaviate-python-client PR #2033 (https://github.com/weaviate/weaviate-python-client/pull/2033)
# merges and a release is cut.
weaviate-client @ git+https://github.com/weaviate/weaviate-python-client.git@26fe203e9b38b79551ae0972f023fdc42ff6cd8d
click==8.1.7
twine
pytest
semver==3.0.2
numpy>=1.24.0
build
wheel
importlib_metadata==8.5.0
importlib-resources>=5.0.0
setuptools_scm
black==24.3.0
pre-commit==3.6.2
prettytable>=3.1.0
faker>=20.0.0
matplotlib>=3.7.0
